@import url('https://fonts.googleapis.com/css2?family=Eater&family=Kdam+Thmor+Pro&family=Montserrat:wght@700&family=Mukta&family=Noto+Serif&family=Rubik:wght@500&family=Signika+Negative:wght@500&family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Kdam+Thmor+Pro&family=Montserrat:wght@700&family=Noto+Serif&family=Rubik:wght@500&family=Signika+Negative:wght@500&family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Kdam+Thmor+Pro&family=Montserrat:wght@700&family=Noto+Serif&family=Signika+Negative:wght@500&family=Unbounded:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(211, 51, 51);
}
.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background: black;
}
.text{
    text-align: center;
    font-family: 'Eater', serif;
    position: fixed;
    top: 5px;
    left: 20px;
    color: white;
}
.top-manga{
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 12px;
    color: white;
    left: 300px;
}
.top-manga:hover{
    padding: 1px 5px;
    background-color: white;
    color: black;
    border-radius: 12px;
    transition: background-color, color, 0.3s ease-in-out;
}
.search{
    width: 240px;
    left: 1200px;
    position: fixed;
    top: 10px;
    border-radius: 16px;
    border: 0;
    height: 30px;
}
.eva-manga-img{
    position: absolute;
    top: 320px;
    left: 280px;
}
.description-fon{
    border: 1px solid black;
    width: 800px;
    height: 400px;
    border-radius: 16px;
    background-color: black;
    position: absolute;
    left: 550px;
}
.navbar-discussion{
    position: absolute;
    border: 1px solid white;
    width: 750px;
    height: 30px;
    border-radius: 16px;
    left: 25px;
    top: 10px;
    background-color: white;
}
.navbar-discussion-text {
    font-size: 24px;
    margin-top: -5px;
    margin-left: 50px;
    float: left;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
  }
.read-book{
    background-image: linear-gradient(to left, #2bee09 0%, #c0db10 100%);
    position: absolute;
    left: 285px;
    top: 610px;
    width: 185px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
}
.read-book:hover{
    background-image: linear-gradient(to top, #2bee09  0%, #c0db10 100%);
}
.read-book:active {
    background-image: linear-gradient(to top, rgb(28, 200, 238), rgb(91, 16, 222));
  }
@media